<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>matchUP</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 1. 서블릿 페이지 맵핑 -->
	
	<!-- Puser id중복체크 -->
<!-- 	<servlet>
		<servlet-name>UserIdCheckAction</servlet-name>
		<servlet-class>controller.User.UserIdCheckAction</servlet-class>		
	</servlet>

	<servlet-mapping>
		<servlet-name>UserIdCheckAction</servlet-name>
		<url-pattern>/UserIdCheck</url-pattern>
	</servlet-mapping> -->
	
	<!-- Puser_Join -->
	<servlet>
		<servlet-name>JoinFormAction</servlet-name>
		<servlet-class>controller.User.JoinFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JoinFormAction</servlet-name>
		<url-pattern>/PJoin</url-pattern>
	</servlet-mapping>
	
	<!-- Puser 탈퇴 -->
	<servlet>
		<servlet-name>DeletePuserFormAction</servlet-name>
		<servlet-class>controller.User.DeletePuserFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeletePuserFormAction</servlet-name>
		<url-pattern>/PLeave</url-pattern>
	</servlet-mapping>
	
	<!-- Cuser 탈퇴 -->
	<servlet>
		<servlet-name>DeleteCuserFormAction</servlet-name>
		<servlet-class>controller.corp.DeleteCuserFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteCuserFormAction</servlet-name>
		<url-pattern>/CLeave</url-pattern>
	</servlet-mapping>
	
	<!-- Cuser_Join -->
	<servlet>
		<servlet-name>JoinCuserAction</servlet-name>
		<servlet-class>controller.corp.JoinCuserAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JoinCuserAction</servlet-name>
		<url-pattern>/CJoin</url-pattern>
	</servlet-mapping>
	
	<!-- Login -->
	<servlet>
		<servlet-name>LoginFormAction</servlet-name>
		<servlet-class>controller.User.LoginFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginFormAction</servlet-name>
		<url-pattern>/PLogin</url-pattern>
	</servlet-mapping>
	
	<!-- Job Posting -->
	<servlet>
		<servlet-name>JobPostFormAction</servlet-name>
		<servlet-class>controller.corp.JobPostFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JobPostFormAction</servlet-name>
		<url-pattern>/JobPost</url-pattern>
	</servlet-mapping>
	
	<!-- Cuser_Login -->
	<servlet>
		<servlet-name>LoginCuserAction</servlet-name>
		<servlet-class>controller.corp.LoginCuserAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginCuserAction</servlet-name>
		<url-pattern>/CLogin</url-pattern>
	</servlet-mapping>
	
	<!-- 기업 Logout -->
	<servlet>
		<servlet-name>CorpLogoutRequestAction</servlet-name>
		<servlet-class>controller.corp.CorpLogoutRequestAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CorpLogoutRequestAction</servlet-name>
		<url-pattern>/Clogout</url-pattern>
	</servlet-mapping>
	
	<!-- 개인 Logout -->
	<servlet>
		<servlet-name>UserLogoutRequestAction</servlet-name>
		<servlet-class>controller.User.UserLogoutRequestAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserLogoutRequestAction</servlet-name>
		<url-pattern>/Plogout</url-pattern>
	</servlet-mapping>

	<!-- resumeCreate -->
	<servlet>
		<servlet-name>ResumeCreateFormAction</servlet-name>
		<servlet-class>controller.resume.ResumeCreateFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResumeCreateFormAction</servlet-name>
		<url-pattern>/ResumeCreate</url-pattern>
	</servlet-mapping>
	
	<!-- resumeRead -->
	<servlet>
		<servlet-name>ResumeReadFormAction</servlet-name>
		<servlet-class>controller.resume.ResumeReadFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResumeReadFormAction</servlet-name>
		<url-pattern>/ResumeRead</url-pattern>
	</servlet-mapping>
	
	<!-- 개인 정보수정 -->
	<servlet>
		<servlet-name>UserUpdateAction</servlet-name>
		<servlet-class>controller.User.UserUpdateAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserUpdateAction</servlet-name>
		<url-pattern>/Update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserUpdateRequest</servlet-name>
		<servlet-class>controller.User.UserUpdateRequest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserUpdateRequest</servlet-name>
		<url-pattern>/UserUpdateRequest</url-pattern>
	</servlet-mapping>
	
	<!-- 기업 정보수정 -->
	<servlet>
		<servlet-name>CorpUpdateAction</servlet-name>
		<servlet-class>controller.corp.CorpUpdateAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CorpUpdateAction</servlet-name>
		<url-pattern>/Cupdate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CorpUpdateRequest</servlet-name>
		<servlet-class>controller.corp.CorpUpdateRequest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CorpUpdateRequest</servlet-name>
		<url-pattern>/CUpdateRequest</url-pattern>
	</servlet-mapping>
	
	<!--  리뷰 양식 -->
	<servlet>
		<servlet-name>ReviewFormAction</servlet-name>
		<servlet-class>controller.review.ReviewFormAction</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ReviewFormAction</servlet-name>
		<url-pattern>/Review</url-pattern>
	</servlet-mapping>
	
	<!--  리뷰 작성 양식 -->
	<servlet>
		<servlet-name>ReviewCreateAction</servlet-name>
		<servlet-class>controller.review.ReviewCreateAction</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ReviewCreateAction</servlet-name>
		<url-pattern>/ReviewCreate</url-pattern>
	</servlet-mapping>
	
	<!--  이메일 인증메일 전송 -->
	<servlet>
		<servlet-name>SendEmailAction</servlet-name>
		<servlet-class>controller.common.SendEmailAction</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SendEmailAction</servlet-name>
		<url-pattern>/SendEmail</url-pattern>
	</servlet-mapping>
	
	<!--  이메일 인증메일 확인 -->
<!-- 	<servlet>
		<servlet-name>EmailCheckAction</servlet-name>
		<servlet-class>controller.common.EmailCheckAction</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EmailCheckAction</servlet-name>
		<url-pattern>/EmailCheck</url-pattern>
	</servlet-mapping> -->
	<!-- 2. JSP 페이지 맵핑 -->
	
	<!-- index -->
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<!-- header -->
	<servlet>
		<servlet-name>header</servlet-name>
		<jsp-file>/header.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>
	
	<!-- header_login -->
	<servlet>
		<servlet-name>headerLogin</servlet-name>
		<jsp-file>/header_login.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>headerLogin</servlet-name>
		<url-pattern>/header_login</url-pattern>
	</servlet-mapping>
	
	<!-- header_form -->
	<servlet>
		<servlet-name>headerForm</servlet-name>
		<jsp-file>/header_form.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>headerForm</servlet-name>
		<url-pattern>/header_form</url-pattern>
	</servlet-mapping>

	<!-- footer -->
	<servlet>
		<servlet-name>footer</servlet-name>
		<jsp-file>/footer.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>footer</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>
	
	<!-- search -->
	<servlet>
		<servlet-name>corpSearch</servlet-name>
		<jsp-file>/views/corpSearch.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>corpSearch</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	
	<!-- jobPost -->
	<servlet>
		<servlet-name>jobPostForm</servlet-name>
		<jsp-file>/views/jobPostForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>jobPostForm</servlet-name>
		<url-pattern>/jobPost</url-pattern>
	</servlet-mapping>
	
	<!-- jobPostUpdate -->
	<servlet>
		<servlet-name>jobPostUpdateForm</servlet-name>
		<jsp-file>/views/jobPostUpdateForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>jobPostUpdateForm</servlet-name>
		<url-pattern>/jobPostUpdate</url-pattern>
	</servlet-mapping>
	
	
	<!-- join main 페이지 -->
	<servlet>
		<servlet-name>joinForm</servlet-name>
		<jsp-file>/views/joinForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>joinForm</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>
	
	<!-- join 개인 페이지 -->
	<servlet>
		<servlet-name>joinPersonForm</servlet-name>
		<jsp-file>/views/joinForm_person.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>joinPersonForm</servlet-name>
		<url-pattern>/joinPerson</url-pattern>
	</servlet-mapping>
	
	<!-- join 기업 페이지 -->
	<servlet>
		<servlet-name>joinCorpForm</servlet-name>
		<jsp-file>/views/joinForm_corp.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>joinCorpForm</servlet-name>
		<url-pattern>/joinCorp</url-pattern>
	</servlet-mapping>	

	
	<!-- login -->
	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/views/loginForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>	
	
	<!-- mypage 기업회원 -->
	<servlet>
		<servlet-name>myPageCorpForm</servlet-name>
		<jsp-file>/views/myPageForm_corp.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>myPageCorpForm</servlet-name>
		<url-pattern>/mypageCorp</url-pattern>
	</servlet-mapping>	
	
	<!-- mypage 개인회원 -->
	<servlet>
		<servlet-name>myPagePersonForm</servlet-name>
		<jsp-file>/views/myPageForm_person.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>myPagePersonForm</servlet-name>
		<url-pattern>/mypagePerson</url-pattern>
	</servlet-mapping>	
	
	<!-- 개인 회원탈퇴 -->
	<servlet>
		<servlet-name>deleteUserForm</servlet-name>
		<jsp-file>/views/deleteUserForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>deleteUserForm</servlet-name>
		<url-pattern>/leave</url-pattern>
	</servlet-mapping>
		
	<!-- 기업 회원탈퇴 -->
	<servlet>
		<servlet-name>deleteCuserForm</servlet-name>
		<jsp-file>/views/deleteCuserForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>deleteCuserForm</servlet-name>
		<url-pattern>/cleave</url-pattern>
	</servlet-mapping>	
	
	<!-- resumeCreate -->
	<servlet>
		<servlet-name>resumeCreateForm</servlet-name>
		<jsp-file>/views/resumeCreateForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>resumeCreateForm</servlet-name>
		<url-pattern>/resumeCreate</url-pattern>
	</servlet-mapping>
	
	<!-- resumeRead -->
	<servlet>
		<servlet-name>resumeReadForm</servlet-name>
		<jsp-file>/views/resumeReadForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>resumeReadForm</servlet-name>
		<url-pattern>/resumeRead</url-pattern>
	</servlet-mapping>
	
	<!--  review -->
	<servlet>
		<servlet-name>reviewForm</servlet-name>
		<jsp-file>/views/reviewForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>reviewForm</servlet-name>
		<url-pattern>/review</url-pattern>
	</servlet-mapping>
	
	<!--  review create -->
	<servlet>
		<servlet-name>reviewCreateForm</servlet-name>
		<jsp-file>/views/reviewCreateForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>reviewCreateForm</servlet-name>
		<url-pattern>/reviewCreate</url-pattern>
	</servlet-mapping>
	
	<!-- scrap -->
	<servlet>
		<servlet-name>scrapForm</servlet-name>
		<jsp-file>/views/scrapForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>scrapForm</servlet-name>
		<url-pattern>/scrap</url-pattern>
	</servlet-mapping>	
	
	<!-- term -->
	<servlet>
		<servlet-name>term</servlet-name>
		<jsp-file>/views/term.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>term</servlet-name>
		<url-pattern>/term</url-pattern>
	</servlet-mapping>	
	
	<!-- term2 -->
	<servlet>
		<servlet-name>term2</servlet-name>
		<jsp-file>/views/term2.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>term2</servlet-name>
		<url-pattern>/term2</url-pattern>
	</servlet-mapping>	
	<!-- emailCheck -->
	<servlet>
		<servlet-name>emailCheckAction</servlet-name>
		<jsp-file>/views/emailCheckAction.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>emailCheckAction</servlet-name>
		<url-pattern>/emailCheck</url-pattern>
	</servlet-mapping>	
	
</web-app>