<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>matchUP</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 1. 서블릿 페이지 맵핑 -->
	<!-- Puser_Join -->
	<servlet>
		<servlet-name>JoinFormAction</servlet-name>
		<servlet-class>controller.User.JoinFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JoinFormAction</servlet-name>
		<url-pattern>/PJoin</url-pattern>
	</servlet-mapping>
	
	<!-- Cuser_Join -->
	<servlet>
		<servlet-name>JoinCuserAction</servlet-name>
		<servlet-class>controller.corp.JoinCuserAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JoinCuserAction</servlet-name>
		<url-pattern>/CJoin</url-pattern>
	</servlet-mapping>
	
	<!-- Login -->
	<servlet>
		<servlet-name>LoginFormAction</servlet-name>
		<servlet-class>controller.User.LoginFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginFormAction</servlet-name>
		<url-pattern>/PLogin</url-pattern>
	</servlet-mapping>
	
	<!-- Cuser_Login -->
	<servlet>
		<servlet-name>LoginCuserAction</servlet-name>
		<servlet-class>controller.corp.LoginCuserAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginCuserAction</servlet-name>
		<url-pattern>/CLogin</url-pattern>
	</servlet-mapping>
	
	<!-- Send_Email -->
	<servlet>
		<servlet-name>SendEmailAction</servlet-name>
		<servlet-class>controller.common.SendEmailAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SendEmailAction</servlet-name>
		<url-pattern>/emailSend</url-pattern>
	</servlet-mapping>
	
	<!-- Send_Email_Check -->
	<servlet>
		<servlet-name>EmailCheckAction</servlet-name>
		<servlet-class>controller.common.EmailCheckAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmailCheckAction</servlet-name>
		<url-pattern>/emailCheck</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- 2. JSP 페이지 맵핑 -->
	
	
	<!-- index -->
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<!-- header -->
	<servlet>
		<servlet-name>header</servlet-name>
		<jsp-file>/header.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>
	
	<!-- header_login -->
	<servlet>
		<servlet-name>headerLogin</servlet-name>
		<jsp-file>/header_login.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>headerLogin</servlet-name>
		<url-pattern>/header_login</url-pattern>
	</servlet-mapping>
	
	<!-- header_form -->
	<servlet>
		<servlet-name>headerForm</servlet-name>
		<jsp-file>/header_form.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>headerForm</servlet-name>
		<url-pattern>/header_form</url-pattern>
	</servlet-mapping>

	<!-- footer -->
	<servlet>
		<servlet-name>footer</servlet-name>
		<jsp-file>/footer.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>footer</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>
	
	<!-- review -->
	<servlet>
		<servlet-name>corpReview</servlet-name>
		<jsp-file>/views/corpReview.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>corpReview</servlet-name>
		<url-pattern>/review</url-pattern>
	</servlet-mapping>
	
	<!-- search -->
	<servlet>
		<servlet-name>corpSearch</servlet-name>
		<jsp-file>/views/corpSearch.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>corpSearch</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	
	<!-- jobPost -->
	<servlet>
		<servlet-name>jobPostForm</servlet-name>
		<jsp-file>/views/jobPostForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>jobPostForm</servlet-name>
		<url-pattern>/jobPost</url-pattern>
	</servlet-mapping>
	
	
	<!-- join -->
	<servlet>
		<servlet-name>joinForm</servlet-name>
		<jsp-file>/views/joinForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>joinForm</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>
	
	<!-- login -->
	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/views/loginForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>	
	
	<!-- main -->
	<servlet>
		<servlet-name>myPageForm</servlet-name>
		<jsp-file>/views/myPageForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>myPageForm</servlet-name>
		<url-pattern>/mypage</url-pattern>
	</servlet-mapping>	
	
	<!-- resume -->
	<servlet>
		<servlet-name>resumeForm</servlet-name>
		<jsp-file>/views/resumeForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>resumeForm</servlet-name>
		<url-pattern>/resume</url-pattern>
	</servlet-mapping>	
	
	<!-- scrap -->
	<servlet>
		<servlet-name>scrapForm</servlet-name>
		<jsp-file>/views/scrapForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>scrapForm</servlet-name>
		<url-pattern>/scrap</url-pattern>
	</servlet-mapping>	
	
	<!-- term -->
	<servlet>
		<servlet-name>term</servlet-name>
		<jsp-file>/views/term.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>term</servlet-name>
		<url-pattern>/term</url-pattern>
	</servlet-mapping>	
	
	<!-- term2 -->
	<servlet>
		<servlet-name>term2</servlet-name>
		<jsp-file>/views/term2.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>term2</servlet-name>
		<url-pattern>/term2</url-pattern>
	</servlet-mapping>	
	
	
</web-app>