.msg{
    text-align: center;
    margin-bottom: 10px;
}

.msg>p{
    font-weight: 700;
}

#msg_title{
    font-size: 1.8rem;
}

/* 검색창 */
.search, .region{
    border: 1px solid #949494;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    margin:0 1rem;
    width: 30%;
}

/* 검색 탭 전체 */
#tab_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

/* 검색 버튼 */

li{
    width: 20px;
}

h2{
    width: 50px;
}

li:hover, h2:hover{
    cursor: default
}

#search_bar, #region_bar{
    margin-left: 10px;
    width: 100%;
    height: 30px;
}

#sBtn{
    width: 100px;
    height: 50px;
    border-radius: 0.5rem;
}

#sBtn:hover{
    background-color:cornflowerblue;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

/* 검색 내역 부분 */

.con_wrap{
    margin-top: 5%;
    padding: 0 5%;
}

.search_con{
    border-top: solid 1px gray;
    height: 500px;
    display: flex;
    flex-direction: row;
}
.contents-container{
	border-right: solid 1px gray;
}
.post{
	width: 600px;
	height: 50px;
	border: solid 1px gray;
	border-radius: 5px;
}
.region_li{
	width: 800px;
}

.search_con .post {
	margin: 15px;
}
.detail_btn{
	background-color: gray;
}
#detail_tab {
	display: none;
}
