.msg{
    text-align: center;
    margin-bottom: 10px;
}

.msg>p{
    font-weight: 700;
}

#msg_title{
    font-size: 1.8rem;
}

/* 검색창 */
.search, .region{
    border: 1px solid #949494;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    margin:0 1rem;
    width: 30%;
}

/* 검색 탭 전체 */
#tab_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

/* 검색 버튼 */

li{
    width: 20px;
}

h2{
    width: 50px;
}

li:hover, h2:hover{
    cursor: default
}

#search_bar, #region_bar{
    margin-left: 10px;
    width: 100%;
    height: 30px;
}

.search_btn{
    width: 100px;
    height: 50px;
    border-radius: 0.5rem;
}

.search_btn:hover{
    background-color:cornflowerblue;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

/* 검색 내역 부분 */

.con_wrap{
    margin-top: 5%;
    padding: 0 5%;
}

.search_con{
    border-top: solid 1px gray;
    height: 500px;
    display: flex;
    flex-direction: row;
}
.contents-container{
	width:49%;	
	overflow : auto;
}
.post{
	padding-left:10px;
	margin : 0 auto;
	width: 90%;
	border: 2px solid black;
	border-radius: 10px; 	
}
.post:hover{
	cursor:pointer;
	box-shadow : 0px 5px 5px 0px gray;
}



.region_li{
	width:100%;
    display: flex;
    justify-content: space-around;
}

.search_con .post {
	margin: 15px;
}
#detail_tab {
	display: none;
	margin: 0 auto;
	width: 49%;
	height: 550px;
	/* border-left: solid 1px gray; */
}
#detail_post{
	width:99%;
	height: 99%;
}
.post-title, .title{
	width: 99%;
}
.post_region{
	color: gray;
}
.post_detail_con1{
	border-bottom: 2px solid #00000014;
}

.post_detail_con3{
	text-align: right;
}
#apply{
	width: 90px;
	height: 40px;
	border: solid 1px gray;
	border-radius: 3px;
}
#apply:hover{
	background-color: #C8C8C8;	
	cursor: pointer;
}
.search_btn{
	width: 100px;
    height: 40px;
}

.search_btn:hover{
	cursor:pointer;
}

select{
    width: 30%;
}