.msg{
    text-align: center;
    margin-bottom: 10px;
}

.msg>p{
    font-weight: 700;
}

#msg_title{
    font-size: 1.8rem;
}

.main_con{
    display: flex;
    justify-content: center;
    overflow : auto;
}

/* 검색 탭 전체 */
.main{
    border: 1px solid #949494;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 60%;
    margin-right: 20px;
}

.main_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

/* 검색 버튼 */

.main_msg{
    width: 20px;
}

h2{
    margin-left: 20px;
    width: 150px;
}

.main_msg:hover, h2:hover{
    cursor: default
}

#search_bar{
    margin-left: 10px;
    height: 30px;
}

#search_btn, #create_btn{
    margin: 0 10px;
    width: 100px;
    height: 50px;
    border-radius: 0.5rem;
}

#search_btn:hover, #create_btn:hover{
    background-color:cornflowerblue;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

/* 검색 결과 */
.con_wrap{
	margin:0 auto;
	display:flex;
	justify-content:center;
	width:80%;
	height:600px;
	border:none;
	overflow : auto;			
}

