@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    padding : 0;
    margin : 0;
    font-family: 'GmarketSansMedium';
}
.container{
	min-height:90vh;
}

.container>div{
    margin-top: 20px;
}

div button:hover{
	background-color:cornflowerblue;
}

/* header */
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: gray;
}


header {
	border-bottom: solid 1px gray;
    background: linear-gradient(lightgray, white);
}
.logo, .leave_btn{
	margin: 0 5px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
}

.index{
    font-size: 1.7rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* footer */
.footer_box{
	width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: solid 1px gray;
    padding: 20px 0;
    background: linear-gradient(lightgray, white);
}

.logout_btn, .leave_btn{
    width: 100px;
    height: 30px;
}

.logout_btn:hover, .leave_btn:hover{
    cursor: pointer;
    background-color:cornflowerblue;
}

.login_link{
    width: 150px;
    height: 30px;
}

.login_link:hover{
    cursor: pointer;
}


.error {
	display: none;
	color: red;
	font-size: 0.7em;
}