@charset "UTF-8";

p.idx_title{
    font-size: 1.8rem;
    font-weight: 700; 
    margin-bottom: 5%;
}

.container{
    text-align: center;
}

.login_link:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}