@charset "UTF-8";

p.idx_title{
    font-size: 1.8rem;
    font-weight: 700; 
    margin-bottom: 2%;
}

.container{
    text-align: center;
    background-image: url("../img/back2.jpg");
    opacity: 0.9;
}

.login_link:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}