.title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 700;
}

.jobPost_wrap{
    padding: 0 10%;
 
}

.main_con{
    border: solid 1px gray;
    padding: 5%;
    text-align: center;
}

ul{
     display: flex;
    flex-direction: column;
}

li{
    margin-bottom: 20px;
}

input{
    border: solid 1px gray;
    width: 20%;
    height: 30px;
}

input, select{
    border-radius: 10px;
}

label{
    font-weight: 700;
}

#date{
    border: solid 1px gray;
    border-radius: 10px;
    width: 15%;
}

.bottom{
    margin-top: 10%;
}

.bottom>span{
    border: solid 1px gray;
    border-radius: 10px;
    padding: 0 5%;
}

.bottom a:hover, .bottom>span:hover{
    background-color: gray;
    cursor: pointer;
    color: black;
}

textarea{
    border: solid 1px gray;
    width: 30%;
}