p{
    font-size: 2rem;
    font-weight: 700;
}

.title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 700;
}

.jobPost_wrap{
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main_con{
    border: solid 1px gray;
    padding: 5%;
    text-align: center;
    width: 40%;
}

input, .cancel{
    border: solid 1px gray;
    width: 40%;
}

input, select, .cancel{
    border-radius: 10px;
	height: 30px;
}

label, span{
    font-weight: 700;
}

#date{
    border: solid 1px gray;
    border-radius: 10px;
    width: 15%;
}

.bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.bottom>.cancel{
    border: solid 1px gray;
    border-radius: 10px;
	background-color: #F0F0F0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit:hover, .cancel:hover{
	background-color:cornflowerblue;
    cursor: pointer;
    color: black;
}

#submit, .cancel{
	font-size:0.9rem;
}

textarea{
    border: solid 1px gray;
    width: 30%;
}


.if{
    font-size: 0.9rem;
    color: red;
}

hr{
    margin: 5% 10%;
    color: gray;
}

#submit{
    margin-bottom: 10px;
}

