@charset "UTF-8";

/* 로그인 박스 전체 */
.container {
	margin: 15% 20% 0 20%;
	border: solid 1px black;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.loginTitle {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

/* 로그인 박스 내부 폼태그 부분 */
#login {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding-left: 20%;
}

.login_box {
	display: flex;
	flex-direction: column;
}

/* 로그인, 회원가입, 아이디/비밀번호 찾기 버튼*/
.btn_login, .btn_join, .btn_find {
	width: 20%;
}

input {
	margin-bottom: 10px;
}

#box {
	width: 15px;
}

#id, #pwd {
	height: 30px;
}