.msg, .main_con{
    text-align: center;
    margin-bottom: 10px;
}

.msg_title, .resume_title{
    font-size: 1.8rem;
    font-weight: 700;
}

.resume_title{
    margin-bottom: 20px;
}

ul{
    display: flex;
    flex-direction: column;
}

.main_con{
	width: 75%;
    height: 800px;
    border: solid 1px gray;
    margin: 5% 10%;
    padding: 5%;
}

li{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, textarea{
	border : 1px solid gray;
    border-radius: 10px;   
}

input{
    border: solid 1px gray;
    width: 40%;
    padding: 4px;
}

input:hover{
    cursor: pointer;
    background-color: gray;
}

textarea{
	border: solid 1px gray;
    width: 50%;
    height: 35px;
}

.bottom{	
    margin-top: 10%;	
}

.bottom a:hover, .bottom>span:hover{
    background-color: gray;
    cursor: pointer;
    color: black;
}

select{
    border-radius: 10px;
}

label{
    font-weight: 700;
    margin-right: 10px;
}

span{
    font-weight: 700;
}