@charset "UTF-8";.msg, .main_con{
    text-align: center;
    margin-bottom: 10px;
}

.msg_title, .resume_title{
    font-size: 1.8rem;
    font-weight: 700;
}

.resume_title{
    margin-bottom: 20px;
}

ul{
    display: flex;
    flex-direction: column;
}

.main_con{
	width: 75%;
    height: 500px;
    border: solid 1px gray;
    margin: 5% 10%;
    padding: 5%;
    overflow:auto;
}

input, textarea{
	border : 1px solid gray;
    border-radius: 10px;
    margin-bottom:15px;   
}

input{
    width: 20%;
    padding: 4px;
}

#resume_title{
	width:40%;
}

textarea{
    width: 50%;
    height: 150px;
    resize: none;
    overflow:auto;
}

.bottom{	
    margin-top: 50px;	
}

select{
    border-radius: 10px;
    margin-bottom:15px;
}

label{
    font-weight: 700;
    margin-right: 10px;
}

span{
    font-weight: 700;
}

.label_input{
	vertical-align: middle;
}

.bottom> #submit{
	width:30%;
	background:black;
	color:white;	
}

.bottom> #submit:hover{
	background:white;
	color:black;
	cursor:pointer;	
}

.bottom> a> #back_btn{
	width:30%;
	color:black;
}

.bottom> a> #back_btn:hover{
	background:white;
	color:black;
	cursor:pointer;	
}