.msg, .main{
    text-align: center;
    margin-bottom: 10px;
}

#msg_title{
    font-size: 1.8rem;
    font-weight: 700;
}

/* 저장됨, 지원완료 탭 */
.main{
    display: flex;
    flex-direction: row;
}

/* 저장됨 */

.saved, .completed{
    padding: 5px;
    height: 800px;
    width: 50%;
}

.saved_con, .completed_con{
    border: solid 1px gray;
    height: 95%;
}

#saved_title, #completed_title{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
}

#if{
	font-size:0.8rem;
	font-weight:700;
	color:red;
}